@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.table-bordered-gradient {
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to right, #ff1493, #0000ff);
    border-image-slice: 1;
  }
